.site-footer {
    padding: 48px;
    background-color: #2D314D;

    .container {
        display: flex;
        justify-content: space-between;

        .first-wrapper {
            display: flex;
        }
        .social-website-list {
            display: flex;
            margin-top: 55px;

            .social-website-item {
                margin-right: 14px;

                .social-website-link {

                    span {
                        width: 22px;
                        color: #fff;
                        transition: color ease 0.2s;
                        
                        &:hover {
                            color: #30C88F;
                        }
                    }
                }
            }
        }
        .useful-links-list {
            display: flex;
            flex-direction: column;
            margin-left: 130px;

            .useful-links-item {
                margin-top: 8px;

                &:first-child, &:nth-child(4) {
                    margin-top: 0;
                }
                .useful-link {
                    font-size: 15px;
                    line-height: 26px;
                    color: #fff;
                    transition: color 0.3s ease;

                    &:hover {
                        color: #30C88F;
                    }
                }
            }
        }
        .site-info {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            justify-content: space-between;

            a {
                padding: 8px 36px;
                font-weight: 500;
                font-size: 14px;
                line-height: 28px;
                color: #fff;
                background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
                border-radius: 22px;
                transition: opacity 0.3s ease;

                &:hover {
                    opacity: 0.4;
                }
            }
            p {
                font-size: 15px;        
                line-height: 26px;
                opacity: 0.5;
                color: #fff;
            }
        }
    }
}