

html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
} 
body {
    font-family: 'Public Sans';
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.container {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}
@import 'fonts';
@import 'header';
@import 'main';
@import 'footer';
@media only screen and (max-width: 450px) {
    .container {
        max-width: 420px;
    }
    .sitenav {
        display: none;
    }
    .bgimage-1 {
        display: none;
    }
    .bgimage-2 {
        display: none;
    }
    .bgimagem-1 {
        display: block;
        width: 420px;
    }
    .bgimagem-2 {
        display: block;
        width: 420px;
    }
    .site-header .invite-link {
        display: none;
    }
    .menu {
        display: block;
    }
    .digital-banking {
        text-align: center;
        padding-bottom: 0;
    }
    .digital-banking-heading {
        max-width: 100%;
    }
    .digital-banking-content {
        max-width: 100%;
    }
    .choose-easybank {
        width: 100%;
        text-align: center;
    }
    .choose-easybank-heading {
        max-width: 100%;
    }
    .choose-easybank-content {
        max-width: 100%;
    }
    .choose-easybank-facilities {
        flex-direction: column;
    }
    .choose-easybank-facilities-item img {
        margin-right: auto;
        margin-left: auto;
        margin-top: 56px;
    }
    .latest-articles {
        text-align: center;
    }
    .latest-articles-heading {
        max-width: 100%;
    }
    .latest-articles-list {
        flex-direction: column;
        align-items: center;
    }
    .latest-articles-item {
        width: 100%;
        margin-top: 24px;
    }
    .site-footer .container {
        flex-direction: column;
        text-align: center;
    }
    .first-wrapper {
        width: 100%;
        flex-direction: column;
    }
    .site-blogs {
    }
    .social-website-list {
        width: 100%;
        justify-content: space-between;
    }
    .useful-links-list {
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
    }
    .site-info {
        text-align: center;
        align-items: center;
    }
    .useful-links-list-2 {
        margin-top: 0;
        padding-left: 5px;
        padding-right: 50px;
        text-align: left;
    }
    .site-info .invite-link {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    .site-info p {
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
    }
}